# VS project files
.vs/
x64/
# binaries
lib/
*.dll
# Unrelated files
TextEditor/
Release/
# Linux build
Build/
.vscode/
Examples/FileExplorer/FileExplorer
Examples/HelloWorld/HelloWorld
Examples/FileExplorer/Debug
